/*  --------------------------------------------------------------  */
/*  -----------------------DIAGRAM EDITOR-------------------------  */
/*  --------------------------------------------------------------  */
/* Icons */

.icon-model {
	background-image: url(../img/diagram/model.png) !important;
}
.icon-add {
	background-image: url(../img/diagram/add.png) !important;
}
.icon-accept {
	background-image: url(../img/diagram/st-accept.png ) !important;
}
.icon-reset {
	background-image: url(../img/diagram/broom.png) !important;
}
.icon-cancel {
	background-image: url(../img/diagram/edit_cancel.png ) !important;
}
.icon-close {
	background-image: url(../img/diagram/icon_close.png ) !important;
}
.icon-delete {
	background-image: url(../img/diagram/delete.png) !important;
}
.icon-print {
	background-image: url(../img/diagram/base-print.png ) !important;
}
.save-diagram {
	background-image: url(../img/diagram/d_save_detail.png ) !important;
}
.open-file {
	background-image: url(../img/diagram/open-file-icon.png ) !important;
}
.get-from-DB {
	background-image: url(../img/diagram/database-refresh-icon.png ) !important;
}
.send-to-DB {
	background-image: url(../img/diagram/database-save-icon.png ) !important;
}
.find-table {
	background-image: url(../img/diagram/data-find-icon.png ) !important;
}
.table-relationship {
	background-image: url(../img/diagram/table-relationship-icon.png ) !important;
}
.input-port {
	background-image: url(../img/diagram/door-in-icon.png ) !important;
}
.output-port {
	background-image: url(../img/diagram/door_out.png ) !important;
}
.icon-nodeInput {
	background-image: url(../img/diagram/node-input.png ) !important;
}
.icon-nodeOutput{
	background-image: url(../img/diagram/node-output.png ) !important;
}
.icon-nodeDelete {
	background-image: url(../img/diagram/node-delete.png ) !important;
}
.icon-grid {
	background-image: url(../img/diagram/grid.png ) !important;
}
.icon-tableAdd {
	background-image: url(../img/diagram/table_row_insert.png ) !important;
}
.icon-tableDelete {
	background-image: url(../img/diagram/table_row_delete.png ) !important;
}
.container {
	/*overflow: scroll !important;*/
}

.canvas {
	padding: 0px;
	margin: 0px;
	background-color: #FAFAFA;
	width: 1500px !important;
	height: 1500px !important;
}

#navigation {
	padding: 0px;
	margin: 0px;
	text-align: center;
}

#toolbar {
	background: #cecece; /* Old browsers */
	background: -moz-linear-gradient(top,  #cecece 0%, #a8a8a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#a8a8a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cecece 0%,#a8a8a8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cecece 0%,#a8a8a8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-9 */
	padding: 8px;
	margin: 0px;
	height: 50px;
	border-bottom: 1px solid #515151;
	overflow: hidden;
}

/******************************************************************
 * Einstellungen der PropertyViews im Editmodus der "Form".
 ******************************************************************/
#propertypane {
	padding: 0px;
	margin: 0px;
	width: 150px;
	background-color: #7D7D7D;
	border-top: 0px;
}

/*container of a single property entry*/
.property_container {
	padding: 5px;
	padding-bottom: 15px;
}

.toolbar_delimiter {
	margin-left: 40px;
}

#content {
	padding: 0px;
	margin: 0px;
}

.palette_node_element {
	border: 1px solid gray;
	background-color: #f3f3f3;
	padding: 10px;
	cursor: move;
	width: 80px;
	margin: 30px auto 30px auto;
	text-align: center;
	align: center;
	border-radius: 5px;
}

.shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.linkedBlock {
	fill: orange;
}

.node {
	stroke: #000000;
	stroke-width: 1;
}

.displaynone {

	display: none;
}

.draw2d_InputPort {
	/*fill:#F7F7F7;*/
	fill: #FF6666;
	stroke: #d7d7d7;
}

.draw2d_OutputPort {
	/*fill:#F7F7F7;*/
	fill: #339933;
	stroke: #d7d7d7;
}

.draw2d_HybridPort {
	fill: #F7F7F7;
	stroke: #d7d7d7;
}

.table_div {
	background-image: url('../js2db/img/Table.png');
	background-repeat: no-repeat;
	background-size: 25% 60%;
}

.primary_key {
	color: #000000;
	text-decoration: underline;
}

.hide-this-row {
	display: none;
}

.table-in-diagram .x-grid-cell {
	background-color: #e2ffe2;
	color: #090;
}